<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container w-50 h-100 m-auto align-items-center">
        <h1 class="m-5">Genetic Algorithm for ...</h1>
        <hr class="border-primary">
        <div class="row">
            <div class="col">
                <form class="align-items-center" th:action="@{/index}" th:object="${algConf}" method="post">
                    <div class="form-group row">
                        <div class="col-sm-10 d-flex w-100 justify-content-around">
                            <label for="start-range" class="w-50">Begin of the range - a: </label>
                            <input th:field="*{rangeBegin}" id="start-range" type="number" class="form-control w-25"
                                placeholder="Begin of the range - a">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10 d-flex w-100 justify-content-around">
                            <label for="end-range" class="w-50">End of the range - b: </label>
                            <input th:field="*{rangeEnd}" id="end-range" type="number" class="form-control w-25"
                                placeholder="End of the range - b">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10 d-flex w-100 justify-content-around">
                            <label for="population" class="w-50">Population amount: </label>
                            <input th:field="*{populationAmount}" id="population" type="number"
                                class="form-control w-25" placeholder="Population amount">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10 d-flex w-100 justify-content-around">
                            <label for="epochs" class="w-50">Epochs amount: </label>
                            <input th:field="*{epochsAmount}" id="epochs" type="number" class="form-control w-25"
                                placeholder="Epochs amount">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10 d-flex w-100 justify-content-around">
                            <label for="chromosome" class="w-50">Best and tournament chromosome amount: </label>
                            <input th:field="*{chromosomeAmount}" id="chromosome" type="number"
                                class="form-control w-25" placeholder="Best and tournament chromosome amount">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10 d-flex w-100 justify-content-around">
                            <label for="elite-amount" class="w-50">Elite Strategy amount: </label>
                            <input th:field="*{eliteStrategyAmount}" id="elite-amount" type="number"
                                class="form-control w-25" placeholder="Elite Strategy amount">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10 d-flex w-100 justify-content-around">
                            <label for="cross-probability" class="w-50">Cross probability: </label>
                            <input th:field="*{crossProbability}" id="cross-probability" type="number"
                                class="form-control w-25" placeholder="Cross probability">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10 d-flex w-100 justify-content-around">
                            <label for="mutation-probability" class="w-50">Mutation probability: </label>
                            <input th:field="*{mutationProbability}" id="mutation-probability" type="number"
                                class="form-control w-25" placeholder="Mutation probability">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10 d-flex w-100 justify-content-around">
                            <label for="inversion-probability" class="w-50">Inversion probability: </label>
                            <input th:field="*{inversionProbability}" id="inversion-probability" type="number"
                                class="form-control w-25" placeholder="Inversion probability">
                        </div>
                    </div>



                    <div class="form-group row">
                        <div class="col-sm-10 d-flex w-100 justify-content-around">
                            <label for="inversion-probability" class="w-50">Percentage of best elements: </label>
                            <input th:field="*{percentageOfBestElements}" id="percentageOfBestElements" type="number"
                                class="form-control w-25" placeholder="Percentage of best elements">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10 d-flex w-100 justify-content-around">
                            <label for="inversion-probability" class="w-50">Tournament size: </label>
                            <input th:field="*{tournamentSize}" id="tournamentSize" type="number"
                                class="form-control w-25" placeholder="Tournament size">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10 d-flex w-100 justify-content-around">
                            <label for="inversion-probability" class="w-50">Spin number: </label>
                            <input th:field="*{spinNumber}" id="spinNumber" type="number" class="form-control w-25"
                                placeholder="Spin number">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10 d-flex w-100 justify-content-around">
                            <label for="inversion-probability" class="w-50">Alpha: </label>
                            <input th:field="*{alpha}" id="alpha" type="number" step="0.01" class="form-control w-25"
                                placeholder="Alpha">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10 d-flex w-100 justify-content-around">
                            <label for="inversion-probability" class="w-50">Beta: </label>
                            <input th:field="*{beta}" id="beta" type="number" step="0.01" class="form-control w-25"
                                placeholder="Beta">
                        </div>
                    </div>

                    <hr class="border-primary">
                    <div class="row d-flex justify-content-center">
                        <fieldset class="form-group border-right border-primary m-2">
                            <div class="row mb-3">
                                <legend class="col-form-label col-sm-4"><b>Selection Method</b></legend>
                                <div class="col-sm-8">
                                    <div class="form-check">
                                        <input th:field="*{selectionMethod}" class="form-check-input" type="radio"
                                            name="selection" id="best" value="best">
                                        <label class="form-check-label" for="best">
                                            Best
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input th:field="*{selectionMethod}" class="form-check-input" type="radio"
                                            name="selection" id="roulette" value="roulette" checked>
                                        <label class="form-check-label" for="roulette">
                                            Roulette
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input th:field="*{selectionMethod}" class="form-check-input" type="radio"
                                            name="selection" id="tournament" value="tournament">
                                        <label class="form-check-label" for="tournament">
                                            Tournament
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input th:field="*{selectionMethod}" class="form-check-input" type="radio"
                                            name="selection" id="ranking" value="ranking">
                                        <label class="form-check-label" for="ranking">
                                            Ranking
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-group border-right border-primary m-2">
                            <div class="row mb-3">
                                <legend class="col-form-label col-sm-4"><b>Cross Method</b></legend>
                                <div class="col-sm-8">
                                    <div class="form-check">
                                        <input th:field="*{crossMethod}" class="form-check-input" type="radio"
                                            name="cross" id="ONE_POINT" value="ONE_POINT" checked>
                                        <label class="form-check-label" for="ONE_POINT">
                                            One Point
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input th:field="*{crossMethod}" class="form-check-input" type="radio"
                                            name="cross" id="TWO_POINT" value="TWO_POINT">
                                        <label class="form-check-label" for="TWO_POINT">
                                            Two Points
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input th:field="*{crossMethod}" class="form-check-input" type="radio"
                                            name="cross" id="THREE_POINT" value="THREE_POINT">
                                        <label class="form-check-label" for="THREE_POINT">
                                            Three Points
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input th:field="*{crossMethod}" class="form-check-input" type="radio"
                                            name="gridRadios1" id="UNIFORM" value="UNIFORM">
                                        <label class="form-check-label" for="UNIFORM">
                                            Uniform
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <input th:field="*{crossMethod}" class="form-check-input" type="radio"
                                            name="gridRadios1" id="ARITHMETIC_CROSSOVER" value="ARITHMETIC_CROSSOVER">
                                        <label class="form-check-label" for="ARITHMETIC_CROSSOVER">
                                            Arithmetic
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input th:field="*{crossMethod}" class="form-check-input" type="radio"
                                            name="gridRadios1" id="LINEAR_CROSSOVER" value="LINEAR_CROSSOVER">
                                        <label class="form-check-label" for="LINEAR_CROSSOVER">
                                            Linear
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input th:field="*{crossMethod}" class="form-check-input" type="radio"
                                            name="gridRadios1" id="BLEND_CROSSOVER_ALPHA" value="BLEND_CROSSOVER_ALPHA">
                                        <label class="form-check-label" for="BLEND_CROSSOVER_ALPHA">
                                            Blend Alpha
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input th:field="*{crossMethod}" class="form-check-input" type="radio"
                                            name="gridRadios1" id="BLEND_CROSSOVER_ALPHA_BETA"
                                            value="BLEND_CROSSOVER_ALPHA_BETA">
                                        <label class="form-check-label" for="BLEND_CROSSOVER_ALPHA_BETA">
                                            Blend Alpha-Beta
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input th:field="*{crossMethod}" class="form-check-input" type="radio"
                                            name="gridRadios1" id="AVERAGE_CROSSOVER" value="AVERAGE_CROSSOVER">
                                        <label class="form-check-label" for="AVERAGE_CROSSOVER">
                                            Average
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-group m-2">
                            <div class="row mb-3">
                                <legend class="col-form-label col-sm-4"><b>Mutation Method</b></legend>
                                <div class="col-sm-8">
                                    <div class="form-check">
                                        <input th:field="*{mutationMethod}" class="form-check-input" type="radio"
                                            name="mutation" id="mutation-one" value="ONE_POINT">
                                        <label class="form-check-label" for="ONE_POINT">
                                            One Point
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input th:field="*{mutationMethod}" class="form-check-input" type="radio"
                                            name="mutation" id="mutation-two" value="TWO_POINT" checked>
                                        <label class="form-check-label" for="TWO_POINT">
                                            Two Points
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input th:field="*{mutationMethod}" class="form-check-input" type="radio"
                                            name="mutation" id="UNIFORM_MUTATION" value="UNIFORM_MUTATION" checked>
                                        <label class="form-check-label" for="UNIFORM_MUTATION">
                                            Uniform
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input th:field="*{mutationMethod}" class="form-check-input" type="radio"
                                            name="mutation" id="GAUSS_MUTATION" value="GAUSS_MUTATION" checked>
                                        <label class="form-check-label" for="GAUSS_MUTATION">
                                            Gauss
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <hr class="border-primary">
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input th:field="*{maximization}" class="form-check-input" type="checkbox"
                                    id="maximization">
                                <label class="form-check-label" for="maximization">
                                    Maximization
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Start</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        document.querySelector('#best').checked = true;
    </script>
</body>

</html>